<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      Welcome to the <%= team_name %> page!
    </h1>

    <ul>
      <% this_team.each do |player| %>
        <li><a href="/positions/<%= player.position %>"><%= player.position %></a> : <%= player.name %></li>
      <% end %>
    </ul>
    <a id="button" href="/">Back to team list</a>
  </body>
</html>
